#                                         #
#                PvPLevels                #
#                   by                    #
#                MathiasMC                #
#  Any ideas for the plugin or need help? #
#           contact me on spigot          #
#                                         #

# Check for updates on startup?
update-check: true

# Check for blocks and get xp if type found. (disable block break, place event) (Require server restart)
blocks: true

# Group setup player is automatic set to group
# if has permission on join
# Case sensitive and must be found in levels.yml
# Works from top to bottom
# Best group should be at top
# Example:
# master: pvplevels.group.master
# vip: pvplevels.group.vip
# default: pvplevels.group.default
# if you have permission on join, you get vip
# but if has master permission you will get master group
groups:
  default: pvplevels.group.default
  #vip: pvplevels.group.vip

# Stop multiplier on quit?
multiplier-quit: true

# Worlds section
# Disable getting stats in worlds in thís list
worlds:
  - world_nether

# Instant death on certain y level
instant-death:
  # Use? (Require server restart)
  use: false
  # Respawn instant?
  respawn: false
  # Y-value for death
  y: -1

# Database settings
mysql:
  use: false
  host: localhost
  port: 3306
  database: database
  username: username
  password: password

  # Get latest data on player join
  # Used to sync cached data across multiple servers
  # Recommended setting is 1-10 to be sure the other servers has updated data before getting new data
  # If using SQLite or one server set to 0
  # Seconds.
  update: 2

  # Save to the database every x amount of times got xp
  # Recommended setting 3-20
  save: 5

  # Automatically remove inactive players from the database (remove section to disable)
  purge:

    # How often to check the activity of players? Seconds.
    interval: 7200

    # Check on server startup?
    check-on-startup: true

    # How many days a player must be offline to remove him from the database.
    inactive-days: 30

    # Additional commands that will be executed along with the purge. It may
    # be useful for deleting player data from a databases of other plugins.
    commands: []

# Stop players from farming xp from killing the same player.
kill-session:

  use: true

  # Amount of times a player must kill another player to get in the kill session.
  amount: 4

  # Amount of time (in seconds) a player is in the kill session.
  time: 150

  get:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have been put into kill session for killing &b{xp_type} &7repeatedly.'
  abuse:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You are still in the kill session for killing &b{xp_type} &7repeatedly.'
  remove:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You are no longer in the kill session for killing &b{xp_type}&7.'

top:
  name: '&cNone'
  value: '&cNone'
  excluded:
    - uuid
  # Update top map every x amount of seconds. (300 = 5 minutes)
  update: 300

xp-progress-style:
  xp:
    symbol: \u007c
    color: '&2'
  none:
    symbol: \u007c
    color: '&c'
  amount: 10

xp-progress-style-2:
  xp:
    symbol: \u007c
    color: '&2'
  none:
    symbol: \u007c
    color: '&c'
  amount: 20

# Start level of new players (Require server restart)
start-level: 1

# List of players that will not get kills/deaths/xp
excluded:
  - uuid

# List of entity names you cannot get xp from
spawners:
  - zombie

# Generate command
generate:
  # Set to false if you have a level setup finished so you cannot by accident erase the levels.yml
  use: true

  # Start xp of level system
  start: 75

  # This is for {random} placeholder
  # You can also use [min_max] to calculate random number while calculations is running.
  random:
    min: 1
    max: 2

  # The math used to calculate xp
  math: '{lastXP} + [50_800] * {random}.{level}'

  percent:

    # If under or equal percent use that for inserting. (you can add more if you want) (Must contain 100)
    20:
      prefix: '&7[&b{group}&7] &7[&b{level}&7]'
      suffix: ''
      group: 'Bad'
      execute: '{group}'
    50:
      prefix: '&7[&b{group}&7] &7[&b{level}&7]'
      suffix: ''
      group: 'Better'
      execute: '{group}'
    80:
      prefix: '&7[&b{group}&7] &7[&b{level}&7]'
      suffix: ''
      group: 'Good'
      execute: '{group}'
    100:
      prefix: '&7[&b{group}&7] &7[&b{level}&7]'
      suffix: ''
      group: 'Pro'
      execute: '{group}'

  get:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have killed &b{xp_type} &7and received &b{xp_get} &7xp.'
  item:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7Item multiplier &bx{xp_item} &7was applied.'
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have killed &b{xp_type} &7and received &b{xp_get} &7xp.'
  boost:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7Multiplier &bx{xp_multiplier} &7was applied.'
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have killed &b{xp_type} &7and received &b{xp_get} &7xp.'
  both:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7Multiplier &bx{xp_multiplier} &7and Item multiplier &bx{xp_item} &7was applied.'
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have killed &b{xp_type} &7and received &b{xp_get} &7xp.'
  lose:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have lost &b{xp_lost} &7xp.'
  up:
    - 'pvplevels broadcast null &7[&f&lP&b&lL&7] &f&l» &b{player} &7has leveled up to Level &b{level_next}&7!'
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have killed &b{xp_type} &7and received &b{xp_get} &7xp.'
  down:
    - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have lost a level and now at Level &b{level}&7.'

  # This section is for inserting commands into a specific level (if it contains) and a name for the execute group must be unique.
  levels:
    20:
      up:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have leveled up to Level &b{level_next}&7.'
        - 'pvplevels broadcast null &7[&f&lP&b&lL&7] &f&l» &b{player} &7has leveled up to Level &b{level_next}&7!'
      down:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have lost a level and now at Level &b{level}&7.'
      execute: '{group}{level}'
    60:
      up:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have leveled up to Level &b{level_next}&7.'
        - 'pvplevels broadcast null &7[&f&lP&b&lL&7] &f&l» &b{player} &7has leveled up to Level &b{level_next}&7!'
      down:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have lost a level and now at Level &b{level}&7.'
      execute: '{group}{level}'

xp:
  default:
    # lowercase entity names
    # You can use worlds, items, name in all types here
    player:

      # Get more xp with an specific item (PlaceholderAPI support)
      #items:
      #  bow:
      #    name: '&eBow'
      #    lores:
      #      - '&aTest lore'
      #    min: 5
      #    max: 10
      #  iron_sword:
      #    name: '&eIron Sword'
      #    lores:
      #      - '&aTest lore'
      #    min: 5
      #    max: 10

      # if has custom name test give another amount of xp
      # you can still use color codes on entity just not use it here
      # This can be used for custom mobs
      # match string of customName
      # supports PlaceholderAPI
      #name:
      #  'test':
      #    min: 7
      #    max: 7

      min: 3
      max: 15

      # Another amount depend on world
      world:
        min: 1
        max: 4

      world_nether:
        min: 5
        max: 10

      # xp lose, remove this section to disable.
      xp-lose:
        min: 6
        max: 20

        # Another amount depend on world
        world:
          min: 1
          max: 4

        world_nether:
          min: 5
          max: 10

    bat:
      min: 1
      max: 3
    bee:
      min: 2
      max: 4
    blaze:
      min: 1
      max: 3
    cat:
      min: 1
      max: 3
    cave_spider:
      min: 2
      max: 5
    chicken:
      min: 3
      max: 6
    cod:
      min: 1
      max: 3
    cow:
      min: 3
      max: 6
    creeper:
      min: 4
      max: 7
    dolphin:
      min: 1
      max: 3
    donkey:
      min: 1
      max: 5
    drowned:
      min: 1
      max: 9
    elder_guardian:
      min: 4
      max: 12
    ender_dragon:
      min: 8
      max: 30
    enderman:
      min: 3
      max: 7
    endermite:
      min: 2
      max: 8
    evoker:
      min: 4
      max: 14
    fox:
      min: 2
      max: 4
    ghast:
      min: 2
      max: 6
    giant:
      min: 2
      max: 8
    guardian:
      min: 1
      max: 14
    hoglin:
      min: 1
      max: 7
    horse:
      min: 1
      max: 4
    husk:
      min: 1
      max: 4
    illusioner:
      min: 1
      max: 5
    iron_golem:
      min: 1
      max: 7
    llama:
      min: 1
      max: 4
    magma_cube:
      min: 1
      max: 8
    mule:
      min: 1
      max: 4
    mushroom_cow:
      min: 1
      max: 7
    ocelot:
      min: 1
      max: 4
    panda:
      min: 2
      max: 8
    parrot:
      min: 1
      max: 2
    phantom:
      min: 1
      max: 10
    pig:
      min: 4
      max: 7
    piglin:
      min: 1
      max: 4
    piglin_brute:
      min: 2
      max: 7
    pillager:
      min: 3
      max: 5
    polar_bear:
      min: 3
      max: 6
    pufferfish:
      min: 1
      max: 4
    rabbit:
      min: 1
      max: 4
    ravager:
      min: 1
      max: 2
    salmon:
      min: 1
      max: 2
    sheep:
      min: 3
      max: 7
    shulker:
      min: 1
      max: 12
    silverfish:
      min: 1
      max: 6
    skeleton:
      min: 2
      max: 14
    skeleton_horse:
      min: 1
      max: 14
    slime:
      min: 1
      max: 10
    snowman:
      min: 1
      max: 5
    spider:
      min: 4
      max: 8
    squid:
      min: 1
      max: 4
    stray:
      min: 1
      max: 5
    strider:
      min: 1
      max: 7
    trader_llama:
      min: 1
      max: 5
    tropical_fish:
      min: 1
      max: 4
    turtle:
      min: 1
      max: 4
    vex:
      min: 1
      max: 9
    villager:
      min: 1
      max: 16
    vindicator:
      min: 1
      max: 11
    wandering_trader:
      min: 1
      max: 8
    witch:
      min: 1
      max: 7
    wither:
      min: 1
      max: 20
    wither_skeleton:
      min: 1
      max: 22
    wolf:
      min: 1
      max: 5
    zoglin:
      min: 1
      max: 7
    zombie:
      min: 1
      max: 15
    zombie_horse:
      min: 1
      max: 6
    zombie_villager:
      min: 1
      max: 18
    zombified_piglin:
      min: 1
      max: 7

    coal_ore:
      min: 2
      max: 5
    iron_ore:
      min: 2
      max: 7
    gold_ore:
      min: 2
      max: 10

    # All is used if not found other xp-lose use this (remove all section to disable)
    all:
      xp-lose:
        min: 2
        max: 2

# If you dont use you can just remove this section.
kills:
  default:
    get: []
    5:
      - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have reached &b5 &7kills.'
    10:
      - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have reached &b10 &7kills.'

# If you dont use you can just remove this section.
deaths:
  default:
    only-player: false
    player:
      - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &b{source} &7has murdered you!'
      - 'pvplevels reset killstreak {player}'
    other:
      - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have been slammed by &b{source}&7!'
      - 'pvplevels reset killstreak {player}'

# If you dont use you can just remove this section.
killstreak:
  default:
    get: []
    5:
      top:
        - 'pvplevels broadcast null &7[&f&lP&b&lL&7] &f&l» &b{player} &7got a top killstreak of &b5&7.'
      get:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have reached a killstreak of &b5&7.'
      lost:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have lost a killstreak of &b{killstreak} &7from &b{source}&7.'
    10:
      top:
        - 'pvplevels broadcast null &7[&f&lP&b&lL&7] &f&l» &b{player} &7got a top killstreak of &b10&7.'
      get:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have reached a killstreak of &b10&7.'
      lost:
        - 'pvplevels message {player} &7[&f&lP&b&lL&7] &f&l» &7You have lost a killstreak of &b{killstreak} &7from &b{source}&7.'